@import url('https://fonts.googleapis.com/css?family=Barrio');
html {
    font-size: 12px;
    /*background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;*/
    /*background-size: cover;*/
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Barrio', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.jams {
    display: flex;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
}

.ui {
    display: flex;
    align-items: center;
    justify-content: center;
}

.key {
    font-size: 1.5rem;
    height: 9rem;
    border: .2rem solid #f75611;
    border-radius: 100%;
    color: #f75611;
    margin: 1rem;
    padding: 1rem .5rem;
    transition: all .4s ease-in;
    width: 10rem;
    text-align: center;
}

.playing {
    transform: scale(1.1);
    background-color: #f75611;
    color: white;
    border: .1rem;
    border-color: white;
    box-shadow: 0 0 2rem black;
}

kbd {
    display: block;
    font-size: 5rem;
    font-family: 'Barrio';
}

.sound {
    font-size: 1.2rem;
    letter-spacing: .3rem;
    color: #f75611;
}

ul {
    list-style: none;
}

#recordingslist audio {
    display: block;
    margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
    .jams {
        display: flex;
        flex-direction: column;
    }
}